Projects/FinalProject/Code/sh-be/src/main/resources/client_secret.json
.idea/.gitignore
.idea/LearnOrDie.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
/Code/MyFirstCSharpApp
/Code/Python/CardShuffleCreator/dist
/Tool/main/_internal
/Code/Python/CardShuffleCreator/build
