Projects/FinalProject/Code/sh-be/src/main/resources/client_secret.json
.idea/.gitignore
.idea/LearnOrDie.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
/Code/MyFirstCSharpApp
/Code/Python/CardShuffleCreator/dist
/Tool/main/_internal
/Code/Python/CardShuffleCreator/build
/Code/Python/CardShuffleCreator/app
/Code/Python/ChanCouchBase/build
/Code/Python/ChanCouchBase/dist
/Code/Python/Tools/main
/Code/Python/Tools/_internal
/Tool/CardShuffle/_internal
/Tool/ChanCB/_internal
/Tool
/Code/Python/Tools
/Code/Python/General/build
/Code/Python/General/dist
/Code/Python/ChanCouchBase/__pycache__
/Code/Python/General/build
Code/Python/ProjectOpener/ide_project_data.json
Code/Python/General/apps_config.txt
/Code/Javascript/node_modules
/Code/Python/AiVoiceRecorder/.venv
/Code/Python/AiVoiceRecorder
/Code/Python/AiVoiceRecorder
/Code/Python/StockRunner/stock_prices
/Code/Python/AiVoiceRecorder
/Code/Python/SvgDrawer/sample
