/* apply to all h1 tag */
h1 {
    margin-left: 100px;
}

/* apply to all h2 tag */
h2 {
    color: blue;
    margin-left: 50px;
}

h3 {
    /* hex color */
    color: #0004f4;
    opacity: 1;

}

/* apply to all h3 tag first letter */
h3::first-letter {
    font-size: 150%;
    color: rgb(0, 0, 255);
}


/* apply to all h4 tag first line */
h4::first-line {
    font-size: 150%;
    color: rgb(0, 0, 255);
}

/* apply to all tag with id="ab"  */
#ab {
    color: green;
    margin-left: 150px;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

[id^="h6"] {
    color: red;
    margin-left: 150px;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

input[type="text"] {
    color: rgb(255, 0, 0);
    font: 1rem sans-serif;
}

/* apply to all tag with id="ab" when hover */
#ab:hover {
    color: #ff0000;
}

h1 {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    border-radius: 10%;
}

/* apply to all tag with id="h6-px" */
#h6-px {
    margin-left: 100px;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

#h6-cm {
    margin-left: 5cm;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

#h6-in {
    margin-left: 2in;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

#h6-per {
    margin-left: 20%;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

#h6-em {
    margin-left: 10em;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

#h6-rem {
    margin-left: 10rem;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

#h6-vh {
    margin-left: 10vh;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

#h6-vw {
    margin-left: 10vw;
    font-size: medium;
    font-family: "Times New Roman", Times, serif;
}

/* apply to all tag */
* {
    padding: 0;
}